<template name="pageAdmin">
  {{#if isInRole 'admin'}}
    <section class="widget">
      <h1 class="widget__title">Users</h1>
      <div class="widget__content">
        <ul>
          {{#each usersData}}
            <li>{{profile.name}} | {{ roles }}</li>
          {{/each}}
        </ul>
      </div>
    </section>

    <section class="widget">
      <h1 class="widget__title">Create User</h1>
      <div class="widget__content">
        {{> addUser }}
      </div>
    </section>
  {{/if}}


  {{#if isInRole 'startup-founder' }}
    {{#if startup }}
      <section class="widget">
        <h1 class="widget__title">Startup Homepage</h1>
        <div class="widget__content">
          Your startup's StartEdu homepage:
          <a href="/startup/{{startup.slug}}" class="founder__homepage-link">{{url}}{{startup.slug}}</a>
        </div>
      </section>
      
      <section class="widget">
        <h1 class="widget__title">Startup Data</h1>
        <div class="widget__content">
          {{> editStartup}}
        </div>
      </section>
    {{else}}
      <section class="widget">
        <h1 class="widget__title">
          Add Startup
        </h1>
        <p>Hmm, you do not have a startup. Yet. Create a new one?</p>
        <p>Start off with a name and description: </p>
        {{> addStartup}}
      </section>
    {{/if}}
  {{/if}}

  {{#if isInRole 'investor'}}
    <section class="widget">
      <h1 class="widget__title">Startup Financial Data</h1>
      {{#each startups}}
        <section class="startup-fin">
          <h1 class="finance__name">Startup Name: {{ name }}</h1>
          <ul>
            <li>Yearly Income: {{ income }}</li>
            <li>Expenditures: {{ expenditures }}</li>
            <li>Funding Received: {{ funding }}</li>
            <li>Salaries Paid: {{ salary }}</li>
            <li>Overhead Costs: {{ overhead }}</li>
          </ul>
        </section>
      {{/each}}
    </section>
  {{/if}}
</template>

<template name="addUser">
  <form class="new-user">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="name" placeholder="Full Name">
    <input type="password" name="password" placeholder="Password">
    <select name="role">
      <option value="admin">Admin</option>
      <option value="startup-founder">Startup Founder</option>
      <option value="investor">Investor</option>
    </select>
    <button>Submit</button>
  </form>
</template>

<template name="addStartup">
  <form class="new-startup">
    <input type="text" name="name" class="name" placeholder="Startup Name">
    <input type="text" name="color" class="color" placeholder="Startup Color (e.g., #bada55)">
    <textarea name="desc" cols="30" rows="10" class="desc" placeholder="A brief description of your Startup"></textarea>
    <button>Submit</button>
  </form> 
</template>


<template name="editStartup">
  <form class="edit-startup">
    {{#with startup}}
    <h2>Basic Details</h2>
    <input type="text" name="name" class="name" placeholder="Startup Name" value="{{ name }}">
    <input type="text" name="color" class="color" placeholder="Startup Color (e.g., #bada55)" value="{{ color }}">
    <textarea name="desc" cols="30" rows="10" class="desc" placeholder="A brief description of your Startup">{{ desc }}</textarea>

    <h2>Staff</h2>
    {{!-- Create add stuff thing here, with a list of options to be chosen --}}
    {{!-- Member name, designation from dropdown --}}
    <div class="staff">
      {{#each staff}}
        <div class="staff__member">
          <input type="text" class="staff__member__name" placeholder="Name" value="{{ name }}"/>
          <select class="staff__member__post">
            <option selected={{postMatches "Technical Manager" post}} value="Technical Manager">Technical Manager</option>
            <option selected={{postMatches "Designer" post}} value="Designer">Designer</option>
            <option selected={{postMatches "Developer" post}} value="Developer">Developer</option>
            <option selected={{postMatches "Engineer" post}} value="Engineer">Engineer</option>
            <option selected={{postMatches "Marketing Manager" post}} value="Marketing Manager">Marketing Manager</option>
            <option selected={{postMatches "PR" post}} value="PR">PR</option>
          </select>
        </div>
      {{/each}}
    </div>
    <div class="staff__add button button--sec">
      <i class="fa fa-plus"></i> Add New Staff Member
    </div>
    
    
    <h2>Products</h2>
    {{!-- Create add products thing here --}}
    {{!-- Product name, type, and details --}}
    <div class="products">
      {{#each products}}
      <div class="products__item">
        <input type="text" class="products__item__name" placeholder="Name" value="{{name}}"/>
        <input type="text" class="products__item__desc" placeholder="Description of the product" value="{{ desc }}"/>
      </div>
      {{/each}}
    </div>
    <div class="products__add button button--sec">
      <i class="fa fa-plus"></i> Add Product
    </div>
  


    <h2>Yearly Balance</h2>
    <label>
      <span>Income</span>
      <input type="text" name="earning-income" value="{{ income }}">
    </label>

    <label>
      <span>Expenditures</span>
      <input type="text" name="earning-expenditures" value="{{ expenditures }}">
    </label>
  
    <label>
      <span>Funding</span>
      <input type="text" name="earning-funding" value="{{ funding }}">
    </label>

    <label>
      <span>Salary</span>
      <input type="text" name="earning-salary" value="{{ salary }}">
    </label>

    <label>
      <span>Overhead Expenditures</span>
      <input type="text" name="earning-overhead" value="{{ overhead }}">
    </label>
    {{/with}}  
    <button>Save Startup Details</button>
  </form>
</template>