<template name="pageHome">
  <section class="page page__intro">
    <!-- <video src="test.mp4"></video> -->
    <h1>We make big ideas happen.</h1>
    <h2>At StartEdu, we believe in people.</h2>
    
    <div class="page__scroll-down see-more">
      <div class="wrap">
        See how we make dreams come true <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </section>


  <section class="page page__blog">
    <div class="wrap">
      <h1 class="page__title">From the blog</h1>

      <div class="blog">
        <div class="row">
          <div class="card">
            <div class="card__img">
              <img src="/img/blog/minds.jpg">
            </div>
            <h1 class="card__title">
              StartEdu takes student tech circuit by storm
            </h1>
            <div class="card__news">
              <p>&ldquo;Minds have been blown,&rdquo; a trusted source commented.</p>
            </div>
          </div>
          <div class="card">
            <div class="card__img">
              <img src="/img/blog/investors.jpg">
            </div>
            <h1 class="card__title">
              What investors really think when you&rsquo;re pitching
            </h1>
            <div class="card__news">
              <p>#4 will shock you!</p>
            </div>
          </div>
          <div class="card card--big">
            <div class="card__img">
              <img src="/img/blog/pitch.jpg">
            </div>
            <h1 class="card__title">10 tips to pitch like a boss</h1>
          </div>
        </div>
        <div class="row">
          <div class="card card--big">
            <div class="card__img">
              <img src="/img/blog/crowd.jpg">
            </div>
            <h1 class="card__title">Top ways to control a large audience</h1>
          </div>

          <div class="card">
            <div class="card__img">
              <img src="/img/blog/interview.jpg" alt="">
            </div>
            <h1 class="card__title">
              How to dress for your next interview
            </h1>
            <div class="card__news">
              <p>No &lsquo;No Shave November&rsquo;?</p>
            </div>
          </div>

          <div class="card">
            <div class="card__img">
              <img src="/img/blog/phone.jpg" alt="">
            </div>
            <h1 class="card__title">
              How to pwn your next phone interview
            </h1>
            <div class="card__news">
              <p>A phone call can change your life</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page page__how">
    <div class="wrap">
      <h1 class="page__title">How does StartEdu work?</h1>
      <div class="hows">
        <div class="how">
          <div class="how__icon"><i class="fa fa-industry"></i></div>
          <div class="how__text">We provide a holistic Infrastructure (financial, legal, technical and logistical) to early stage startups.</div>
        </div>

        <div class="how">
          <div class="how__icon"><i class="fa fa-lightbulb-o"></i></div>
          <div class="how__text">We connect founders to other entrepreneurs, to mentors, industry experts and investors to successfully launch and grow their creative ideas into real businesses.</div>
        </div>

        <div class="how">
          <div class="how__icon"><i class="fa fa-users"></i></div>
          <div class="how__text">We organize Hackathons and lightning talks to engage the community.</div>
        </div>

        <div class="how">
          <div class="how__icon"><i class="fa fa-line-chart"></i></div>
          <div class="how__text">We lead training in vital business areas and offer several Skill Pills to ensure a solid entrepreneurship foundation.</div>
        </div>
      </div>
    </div>
  </section>

  <section class="page page__parallax">
    <div class="wrap">
      <div class="parallax__text">
        <h1>Don&rsquo;t let your dreams be dreams</h1>
        <p>Nothing is impossible. Join StartEdu now.</p>
      </div>
    </div>
  </section>
  
</template>

