<template name="layoutMain">
  {{> header }}

  <div class="content">
    {{> yield}}
  </div>

  {{> footer }}
</template>


<template name="layoutAdmin">
  {{>head}}
  <aside class="sidebar">
    <div class="logo">
      <a href="/">
        <img src="/img/logo-horizontal-white.png">
      </a>
    </div>
    <nav>
      <ul>
        <li class="sidebar__item">
          <a href="/">
            <i class="fa fa-home"></i>
            <span>Home</span>
          </a>
        </li>

        <li class="sidebar__item">
          <a href="/admin">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sidebar__item">
          <a href="http://code-warriors.org/ai">
            <i class="fa fa-laptop"></i>
            <span>AI Counselor</span>
          </a>
        </li>

        <li class="sidebar__item">
          <a href="/logout">
            <i class="fa fa-user"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="admin-content">
    <div class="user-greeting">
      Hello, {{ currentUser.profile.name }}!
    </div>
    {{> yield}}
  </main>
</template>


<template name="header">
  {{> head}}
  <header class="masthead">
    <div class="wrap">
      <div class="logo">
        <a href="/"><img src="/img/logo-white.png" alt="Logo White"></a>  
      </div>
      <nav>
        <ul>
          <li>
            <a href="/startups">Our Startups</a>
          </li>
          {{#if currentUser }}
          <li>
            <a href="/admin">Admin Panel</a>
          </li>
          {{ else }}
          <li>
            <a href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </header>
</template>


<template name="head">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Source+Serif+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
</template>


<template name="footer">
  <footer class="colophon">
    <div class="wrap">

      <div class="colophon-row">
        <div class="colophon-email">
          <p>
            Subscribe to StartEdu to know more
          </p>
          <form>
            <input type="email" placeholder="Enter your email">
            <button class="button--inline">&rarr;</button>
          </form>
        </div>

        <div class="colophon-social">
          <p>
            Follow StartEdu on Social Media
          </p>
          <a href="facebook.com/startedu"><i class="fa fa-facebook"></i></a>
          <a href="mailto:contact@butitech.com"><i class="fa fa-envelope"></i></a>
        </div>
      </div>

      <nav class="colophon-nav">
        <ul>
          <li>
            <a href="http://code-warriors.org/ai">AI Counseling</a>
          </li>
          <li>
            <a href="/assets/startedu-design-guidelines.pdf">Branding Guidelines</a>
          </li>
          <li>
            <a href="https://youtu.be/BGzQEYx8OtA">StartEdu Official Video</a>
          </li>
          <li>
            <a href="/assets/startedu-report.pdf">StartEdu Report</a>
          </li>
        </ul>
      </nav>
      <div class="end">Made with <span class="heart">❤</span> by the Code Warriors</div>
    </div>
  </footer>
</template>