<template name="pageStartups">
  <section class="startup--page startup__intro" style="background: {{ color }} ">
    <div class="wrap">
      <h1 class="startup__name">Our Startups</h1>
      <h2 class="startup__desc">A list of startups our excellent members have worked on</h2>
    </div>
  </section>
  <div class="startups-list">
    <div class="wrap">
      {{#each startups}}
        <section class="startups__item">
          <h1 class="startups__name">{{ name }}</h1>
          <p class="startups__desc">{{ desc }}</p>
          <p class="startups__slug"><a href="/startup/{{slug}}">{{ name }} StartEdu Homepage</a></p>
        </section>
      {{/each}}
    </div>
  </div>
</template>