<template name="startup">
  <section class="startup--page startup__intro" style="background: {{ color }} ">
    <div class="wrap">
      <h1 class="startup__name">{{ name }}</h1>
      <h2 class="startup__desc">{{ desc }}</h2>
    </div>
  </section>


  {{#if products.length}}
  <section class="startup--page startup__products">
    <div class="wrap">
      <h1 class="startup__title">Products We Made</h1>
      <div class="products">
        {{#each products}}
          <section class="product">
            <h1 class="product__name">{{ name }}</h1>
            <div class="product__desc">{{ desc }}</div>
          </section>
        {{/each}}
      </div>
    </div>
  </section>
  {{/if}}
  
  {{#if staff.length}}
  <section class="startup--page startup__team">
    <div class="wrap">
      <h1 class="startup__title">The Team</h1>
      <div class="team">
        {{#each staff}}
          <section class="member">
            <h1 class="member__name">{{ name }}</h1>
            <h2 class="member__post">{{ post }}</h2>
          </section>        
        {{/each}}
      </div>
    </div>
  </section>
  {{/if}}

</template>
