@import 'partials/normalize.import.styl'
@import 'partials/normalize-opentype.import.styl'
@import 'partials/var.import.styl'

/* ==========================================================================
   
    LET'S GET STARTED!

   ========================================================================== */

body 
  padding 0
  margin 0
  font-family $main-font
  font-weight 300
  font-size 112.5%
  color $text-color
  
.body--sec
  background $bg-color
  
  .masthead
    background $sec-color
  
input, textarea, select
  font-size 100%
  font-family $main-font
  padding 1em
  border 1px solid $border-color
  display block
  border-radius 2px
  transition all .1s ease;
  box-sizing border-box
  color $text-color
  
  &:hover
    border-color darken($border-color, 15%)
  
  &:focus
    border-color $prim-color
    outline none

button, .button, .login-button
  padding 1em
  border none
  background $prim-color
  border-radius 2px
  box-sizing border-box
  color white
  cursor pointer
  text-align center
  transform scale(1)

  &:hover
    background darken($prim-color, 10%)
  
  &:active
    transform scale(.95)

.button--sec
    background mix(#ccc, darken($bg-color, 30%))
    
    &:hover
      background darken(@background, 10%)   

.wrap
  max-width 75em
  margin 0 auto
  width 95%
  
a
  text-decoration none
  color $prim-color
  transition all .2s ease

.main-content 
  padding-top 5em
  

/* ==========================================================================
   =MASTHEAD
   ========================================================================== */

.masthead
  height 4em
  overflow hidden
  position absolute
  top 0
  left 0
  right 0
  z-index 99
  background rgba(white, .1)
  
  a
    color white

  .logo
    float left
    height 3em
    padding .5em 0
    
    img, a
      max-height 100%

  nav
    float right
    
    a
      padding 1.5em
      display block
      line-height 1
      background rgba(white, 0)
    
      &:hover
        background rgba(white, .1)

  ul
    padding 0
    margin 0
    list-style none
  
  li
    list-style none
    display inline-block
    
    

/* ==========================================================================
   =INTRO
   ========================================================================== */

.page__intro
  height 100vh
  position relative
  background-image url('/img/bg-1.jpg')
  background-size cover 
  box-sizing border-box
  padding 17em 0 !important
  
  h1, h2
    margin 0
    text-align center
    color white
    font-size 3.5em
    font-weight 900

  h2
    font-size 1.5em
    margin .5em 0
    font-weight 300

.page__scroll-down
  position absolute
  bottom 0
  left 0
  right 0
  padding 1.5em
  background rgba($prim-color, .8)
  text-align center
  color white
  font-size 1.25em
  cursor pointer
  transition all .2s ease

  &:hover
    background rgba($prim-color, .95)


.page
  padding 6em 0
  border-bottom thin solid darken($bg-color, 5%)

  &__title
    text-align center
    font-weight 100
    font-size 3em
    padding 0 0 .5em
    margin 0 0 .5em


/* HOW
   ========================================================================== */

.hows 
  display flex
  flex-wrap wrap

.how 
  padding 2em 0
  font-size 1.25em
  align-items center
  width 50%
  text-align center
  font-weight 400

  &__icon
    font-size 5em
    height 8rem
    line-height 1  
    text-align center
  
  &__text
    padding 1.5em
    box-sizing border-box


/* PARALLAX
   ========================================================================== */

.page__parallax
  background-image url('/img/bg-2.jpg');
  background-repeat no-repeat
  background-size cover 
  background-position center center
  background-attachment fixed
  
.parallax__text
  font-size 1.5em
  color white
  border 4px solid white
  padding 2.5em
  text-align center
  
  h1
    font-weight 900
    font-size 2.25em
  
  p
    font-size 1.125em
    font-style italic



/* NEWS
   ========================================================================== */

.page__blog
  background $bg-color

.row
  display flex

.card
  flex-grow 1
  width 25%
  box-sizing border-box
  margin 1em
  background white
  border-raidus 5px
  box-shadow 0 2px 2px $border-color
  cursor pointer

  img
    max-width 100%
    display block
  
  &__title
    padding 1rem
    font-size 1.5em
    margin 0

  &__news
    font-style italic
    padding 0 1rem

.card--big
  flex-grow 1
  width 50%
  position relative
  
  .card__title
    position absolute
    bottom 0
    left 0
    right 0
    color white
    padding 2rem
    background rgba(black, .5)

  





/* ==========================================================================
   =ADMIN
   ========================================================================== */

.sidebar
  position fixed
  top 0
  left 0
  bottom 0
  width 8em
  padding-right .25em
  background $sec-color
  color white
  
  nav
    margin-top 1em

  ul
    margin 0
    padding 0
    
  .logo
    max-width 100%
    padding 1em .5em
    
    img
      max-width 100%

.sidebar__item
  list-style none
  background rgba(white, 0)
  transition all .2s ease
  cursor pointer
  
  a 
    padding 1.5em
  
  i 
    display block
    text-align center
    font-size 2.5em
    line-height 1
    padding .125em
  
  span
    display block
    text-align center  
    font-weight 400

  &:hover
    background rgba(white, .1)
    a
      color white
      
.admin-content
  padding 1.5em 11.5em
  min-height 100vh
  

.widget
  padding 1.5em
  background white
  border-bottom 2px solid $border-color 
  border-radius .25em
  margin 1em 0

  &__title
    font-weight 400
    margin 0 0 1em
    font-size 1.5em
    padding 0 0 1em
    border-bottom thin solid $bg-color
    
  h2
    margin 2em 0 1em
    font-size 1em
    font-weight 500
    
    &:before
      content "\f105"
      font-family FontAwesome
      color $border-color 
      margin-right .5em




/* ==========================================================================
   =LOGIN
   ========================================================================== */


.login-form
  max-width 30em
  width 100%
  margin 3em auto
  padding 1em
  box-sizing border-box
  
  h1
    text-align center
    margin 0 0 -2em
    font-weight 300
    

  label
    margin 1em 0 .5em
    display block

  input
    width 100%
  
  .login-button
    margin 1em 0 0


.login-close-text, #login-sign-in-link, #signup-link
  display none !important





/* ==========================================================================
   =FOOTER
   ========================================================================== */

.colophon
  background darken($bg-color, 5%)
  padding 2em
  font-weight 400
  
  
  &-nav
    clear both
    margin 1.5em 0 0
    ul
      text-align center
      margin 0 auto
      padding 0
    
    li
      list-style none
      display inline-block
      padding 0 1em
      
  &-row
    overflow hidden
    clear both 
    
  &-email
    width 50%
    float left
    text-align center
    
    p
      margin .5em 0
    input
      display inline-block
    button
      display inline-block
      margin-left .3em
  
  &-social
    width 50%
    float left
    text-align center
    
    i
      font-size 1.5em
      padding .25em .5em

  .end
    text-align center
    clear both
    padding 1.5em 0 0
    color darken(@background, 40%)
  .heart
    color hotpink
    
/* ==========================================================================
   =ADMIN
   ========================================================================== */

.widget
  input, select, button, textarea, .button
    width 20em
    margin .5em 0
    
.staff__member, .products__item
  margin 1em 0
  display block
  width 100%
  

/* ==========================================================================
   =STARTUP
   ========================================================================== */

.startup__intro
  padding 6em 0
  background $prim-color
  color white
  text-align center
  
  h1
    font-weight 300
    font-size 3em
    
  h2
    font-weight 300
    font-style italic
    
.startup--page
  padding 6em 0
  
.startup--page:nth-child(even)
  background lighten($bg-color, 3%)
  
.startup__title
  font-weight 700
  text-align center
  padding 0 0 .5em
  margin 0 0 1em
  border-bottom thin solid rgba(black, .05)
  
.team, .products
  display flex
  flex-wrap wrap
  
.member, .product
  width 33.33%
  box-sizing border-box
  padding 1em
  
  h1
    font-weight 300

.member
  text-align center    
  
  h2
    font-weight 400
    font-style italic
    
.product
  text-align center
  
/* ==========================================================================
   =INVESTORS
   ========================================================================== */

.startup-fin
  margin 1.5em 0
  
  h1
    font-size 1em
    margin 0 0 1em
    

/* ==========================================================================
   =STARTUPS PAGE
   ========================================================================== */

.startups-list
  padding 4em 0
  
.startups
  counter-reset startups
  &__item
    margin 3em 0
    counter-increment startups
    
  &__name
    font-weight 400
    margin 0
    
    &:before
      content counter(startups) '. '
    
  &__desc
    font-style italic
    margin 1.5em 0